* {
  box-sizing: border-box;
}

h1,h2,h3,h4,h5,h6 {
  font-family: $header-font;
  font-weight: $body-bold;
}

p, ul li, ul li a, a {
  font-family: $body-font;
  font-weight: $body-light;
}

section.main {
  @extend .container;
}

div#global-container {
  height: 100%;
  width: 100%;

  div.ajax-preloader-container {
    display: none;

    &.active {
      background-color: rgba(0,0,0,.8);
      display: block;
      height: 100vh;
      left: 0;
      position: absolute;
      top: 0;
      width: 100vw;
    }

    div.ajax-spinner {
      width: 124px;
      height: 124px;
      margin: 0 auto;
      position: relative;
      top: 50%;
      @include transform(translateY(-50%));

      i.fa {
        color: $white;
        font-size: 5em;
      }
    }
  }
}