* {
  box-sizing: border-box;
}

html,
body {
  overflow-y: auto;
  height: auto;

  &.ajax-progress {
    overflow-y: hidden;
  }
}

h1,h2,h3,h4,h5,h6 {
  font-family: $header-font;
  font-weight: $body-bold;
}

p, ul li, ul li a, a {
  font-family: $body-font;
  font-weight: $body-light;
}

section.main {
  @extend .container;
}

div#global-container {
  height: 100%;
  width: 100%;

  div.ajax-preloader-container {
    display: none;

    &.active {
      background-color: rgba(255,255,255,.9);
      display: block;
      height: 100vh;
      left: 0;
      position: fixed;
      top: 0;
      width: 100vw;
    }

    div.ajax-spinner {
      width: 124px;
      height: 124px;
      margin: 0 auto;
      position: relative;
      top: 50%;
      @include transform(translateY(-50%));

      i.fa {
        color: $black;
        font-size: 5em;
      }
    }
  }
}

.alert {
  background-color: $white;
  border-radius: 4px;
  box-shadow: 0 0 8px rgba(0,0,0,.7);
  color: $black-50;
  right: 0;
  margin: 2em;
  max-width: 33%;
  padding: 2em 3em 2em 5em;
  position: fixed;
  top: 0;
  z-index: $z-alert-box;

  &.success {
    color: $green;
  }
  &.error {
    color: $red;
  }

  .status-bar {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    width: 3em;

    &.success {
      background-color: green;
      color: $white;

      .dismiss {
        color: $green;
      }
    }

    &.error {
      background-color: red;
      color: $white;

      .dismiss {
        color: $red;
      }
    }

    span.icon {
      display: block;
      text-align: center;
      top: 50%;
      transform: translateY(-50%);
      position: relative;
    }
  }

  p {
    font-size: 1.3em;

    span.dismiss {
      @include transition(all,.25s,ease,0s);
      cursor: pointer;
      display: block;
      font-size: 1.4em;
      margin: 0;
      padding: .5em;
      position: absolute;
      right: 0;
      text-align: center;
      top: 50%;
      transform: translateY(-50%);

      &:hover {
        color: $black-60;
      }
    }
  }
}

