.dashboard,
.venue,
.phone,
.story,
.post-roll,
.fixed,
.add-new {
  .main-content {
    @extend .grid_14;
    padding-left: 20px;
    padding-bottom: 5em;
    border-left: 1px solid $black;

    header {
      border-bottom: 1px solid $black;
    }
  }
}

table {
  font-size: .8em;
  font-family: $body-font;
  border-spacing: 0.5rem;
  border-collapse: collapse;
  width: 100%;

  thead {
    font-family: $body-font;
  }

  td, th {
    border: 1px solid #999;
    padding: 0.5rem;
    text-align: left;
  }
}