div.form-group {
  margin: .5em auto;
  width: 100%;

  &.inline > label, input {
    display: inline;
  }

  &.inline {
    display: inline-block;
    float: left;
    width: 50%;

    &:nth-child(odd) {
      padding-right: .5em;
    }
    &:nth-child(even) {
      padding-left: .5em;
    }

    &.radio-group {
      width: auto;
      padding: 0 .5em;
    }
  }
}

input, select, textarea, button {
  font-family: $header-font;
}

select {
  display: block;
  width: 100%;
}

input + label {
  font-family: $body-font;
}

label {
  display: inline-block;
  font-family: $body-font;
  padding: 0;
  width: 100%;
}

.checkbox-group {
  label {
    display: inline;
  }
}

input {
  @include transition(all, 0.25s, ease, 0s);
}

input[type=email],
input[type=text],
input[type=password],
input[type=url],
input[type=tel] {
  @include input(2px, solid, $black-50, 4px);
  display: block;
  font-size: 1em;
  height: 40px;
  padding: 5px 8px 6px;
  width: 100%;
}

.form-group input[type=submit],
.form-group button[type=submit] {
  width: 100%;
}

a,
form button,
input[type='submit'],
button {
  @include transition(all,.25s,ease,0s);
  display: block;

  &.btn {
    @include button(mix($black,$black-80,15%), $white, 4px);
    border: none;

    &:valid {
      &:hover {
        @include button(mix($black-20,$black-10,85%), $black, 4px);
        font-weight: bold;
      }
    }

    &.block {
      width: 100%;
      &:hover {
        width: 100%;
      }
    }

    &.inline {
      display: inline;
    }
  }
  &[disabled="disabled"] {
    cursor: not-allowed;
    opacity: 0.2;
  }

  i.fa {
    margin: 0 .25em;
  }
}

/* #storyVenueField {
  display: none;

  &.show {
    display: block;
  }
} */