div.form-group {
  margin: 10px auto;
  width: 100%;
}

input, select, textarea, button {
  font-family: $header-font;
}

input + label {
  font-family: $body-font;
}

label {
  display: inline-block;
  font-family: $body-font;
  margin: 0 10px 0 3px;
  padding: 0;
  width: 100%;
}

input {
  @include transition(all, 0.25s, ease, 0s);
}

input[type="email"],
input[type="text"],
input[type="password"],
input[type="url"] {
  @include input(2px, solid, $black-50, 4px);
  display: block;
  height: 40px;
  padding: 5px 8px 6px;
  width: 100%;
}

input[type='submit'],
button[type='submit']{
  @include transition(all,.25s,ease,0s);
  display: block;
  width: 100%;

  &.btn {
    @include button(mix($black,$black-80,15%), $white, 4px);
    border: none;

    &:valid {
      &:hover {
        @include button(mix($black-20,$black-10,85%), $black, 4px);
        font-weight: bold;
      }
    }
  }
  &[disabled="disabled"] {
    cursor: not-allowed;
    opacity: 0.2;
  }
}