.parallax-container {
  position: absolute;
  overflow: hidden;
  display: table;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;

  ul {
    list-style: none;
    position: relative;
    display: block;
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    background-image: url(../images/A1Sauce.jpg);
    background-color: $black;
    background-size: 100%;
    min-height: 900px;

    li {
      position: absolute;
      display: block;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;

      div {
        width: auto;

        &.wave {
          background-repeat: repeat-x;
          position: absolute;
          width: 300%;
          left: -100%;
          margin: 0px 0px;
          height: 360px;

          &.depth-20 {
            -webkit-animation: wave 7s 0.1s infinite linear;
            -moz-animation: wave 7s 0.1s infinite linear;
            animation: wave 7s 0.1s infinite linear;
            bottom: -100px;
            background-size: 600px 180px;
          }

          &.depth-40 {
            -webkit-animation: wave 6s 0.1s infinite linear;
            -moz-animation: wave 6s 0.1s infinite linear;
            animation: wave 6s 0.1s infinite linear;
            bottom: -100px;
            background-size: 600px 180px;
          }

          &.depth-60 {
            -webkit-animation: wave 4s 0.1s infinite linear;
            -moz-animation: wave 4s 0.1s infinite linear;
            animation: wave 4s 0.1s infinite linear;
            bottom: -110px;
            background-size: 800px 240px;
          }

          &.depth-80 {
            -webkit-animation: wave 4s 0.1s infinite linear;
            -moz-animation: wave 4s 0.1s infinite linear;
            animation: wave 4s 0.1s infinite linear;
            bottom: -120px;
            background-size: 1000px 300px;
          }

          &.depth-100 {
            -webkit-animation: wave 3s 0.1s infinite linear;
            -moz-animation: wave 3s 0.1s infinite linear;
            animation: wave 3s 0.1s infinite linear;
            bottom: -200px;
            background-size: 1200px 360px;
          }
        }

        &.whale {
          @include transform(scaleX(-1) rotate(20deg));
          position: absolute;
          width: 100%;
          background-repeat: no-repeat;
          bottom: 0;
          margin: 0px 0px;
          height: 360px;
          background-image: url(../images/whale.png);
          animation: whale 7s 0.1s infinite linear;
        }

        &.plain {
          background-image: url(../images/cmi-wave-bg.png);
        }
      }
    }
  }
}

@-webkit-keyframes wave {
  0% {
    -webkit-transform: rotateZ(0deg) translate3d(0,10%,0) rotateZ(0deg);
    -moz-transform: rotateZ(0deg) translate3d(0,10%,0) rotateZ(0deg);
    transform: rotateZ(0deg) translate3d(0,10%,0) rotateZ(0deg);
  }

  100% {
    -webkit-transform: rotateZ(360deg) translate3d(0,10%,0) rotateZ(-360deg);
    -moz-transform: rotateZ(360deg) translate3d(0,10%,0) rotateZ(-360deg);
    transform: rotateZ(360deg) translate3d(0,10%,0) rotateZ(-360deg);
  }
}

@-moz-keyframes wave {
  0% {
    -webkit-transform: rotateZ(0deg) translate3d(0,10%,0) rotateZ(0deg);
    -moz-transform: rotateZ(0deg) translate3d(0,10%,0) rotateZ(0deg);
    transform: rotateZ(0deg) translate3d(0,10%,0) rotateZ(0deg);
  }

  100% {
    -webkit-transform: rotateZ(360deg) translate3d(0,10%,0) rotateZ(-360deg);
    -moz-transform: rotateZ(360deg) translate3d(0,10%,0) rotateZ(-360deg);
    transform: rotateZ(360deg) translate3d(0,10%,0) rotateZ(-360deg);
  }
}

@-ms-keyframes wave {
  0% {
    -webkit-transform: rotateZ(0deg) translate3d(0,10%,0) rotateZ(0deg);
    -moz-transform: rotateZ(0deg) translate3d(0,10%,0) rotateZ(0deg);
    transform: rotateZ(0deg) translate3d(0,10%,0) rotateZ(0deg);
  }

  100% {
    -webkit-transform: rotateZ(360deg) translate3d(0,10%,0) rotateZ(-360deg);
    -moz-transform: rotateZ(360deg) translate3d(0,10%,0) rotateZ(-360deg);
    transform: rotateZ(360deg) translate3d(0,10%,0) rotateZ(-360deg);
  }
}

@keyframes wave {
  0% {
    -webkit-transform: rotateZ(0deg) translate3d(0,10%,0) rotateZ(0deg);
    -moz-transform: rotateZ(0deg) translate3d(0,10%,0) rotateZ(0deg);
    transform: rotateZ(0deg) translate3d(0,10%,0) rotateZ(0deg);
  }

  100% {
    -webkit-transform: rotateZ(360deg) translate3d(0,10%,0) rotateZ(-360deg);
    -moz-transform: rotateZ(360deg) translate3d(0,10%,0) rotateZ(-360deg);
    transform: rotateZ(360deg) translate3d(0,10%,0) rotateZ(-360deg);
  }
}

@keyframes whale {
  0% {
    transform: rotateZ(20deg) translate3d(500px,100%,0) rotateZ(20deg);
  }

  50% {
    transform: rotateZ(10deg) translate3d(250,70%,0) rotateZ(10deg);
  }

  100% {
    transform: rotateZ(-10deg) translate3d(0,-40%,0) rotateZ(-10deg);
  }
}
