.parallax-container {
  position: absolute;
  overflow: hidden;
  display: table;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  background: linear-gradient(to top, $black-90 100%, $black-70 75%);

  ul {
    list-style: none;
    position: relative;
    display: block;
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    background-color: $black-20;
    background-size: 100%;
    min-height: 400px;
    height: 100vh;


    li {
      position: absolute;
      display: block;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;

      div {
        width: auto;

        &.wave {
          background-repeat: repeat-x;
          position: absolute;
          width: 300%;
          left: -100%;
          margin: 0px 0px;
          height: 360px;

          &.depth-20 {
            -webkit-animation: wave 7s 0.1s infinite linear;
            -moz-animation: wave 7s 0.1s infinite linear;
            animation: wave 7s 0.1s infinite linear;
            bottom: -100px;
            background-size: 600px 180px;
          }

          &.depth-40 {
            -webkit-animation: wave 6s 0.1s infinite linear;
            -moz-animation: wave 6s 0.1s infinite linear;
            animation: wave 6s 0.1s infinite linear;
            bottom: -100px;
            background-size: 600px 180px;
          }

          &.depth-60 {
            -webkit-animation: wave 4s 0.1s infinite linear;
            -moz-animation: wave 4s 0.1s infinite linear;
            animation: wave 4s 0.1s infinite linear;
            bottom: -110px;
            background-size: 800px 240px;
          }

          &.depth-80 {
            -webkit-animation: wave 4s 0.1s infinite linear;
            -moz-animation: wave 4s 0.1s infinite linear;
            animation: wave 4s 0.1s infinite linear;
            bottom: -120px;
            background-size: 1000px 300px;
          }

          &.depth-100 {
            -webkit-animation: wave 3s 0.1s infinite linear;
            -moz-animation: wave 3s 0.1s infinite linear;
            animation: wave 3s 0.1s infinite linear;
            bottom: -200px;
            background-size: 1200px 360px;
          }
        }

        &.whale {
          @include transform(scaleX(-1) rotate(60deg));
          position: absolute;
          width: 100%;
          background-repeat: no-repeat;
          bottom: 0;
          margin: 0px 0px;
          height: 360px;
          background-image: url(../images/whale.png);
          animation: whale 10s 0s infinite linear;
        }

        &.plain {
          background-image: url(../images/cmi-wave-bg.png);
        }
      }

      .clouds {
        display: block;
        position: absolute;
        left: 0;

        &.bg {
          top: 45%;
        }

        &.single {
          top: 30%;
          left: 80%;
        }
      }

      .logo {
        max-width: 400px;
        position: absolute;
        top: 30%;
        left: 35%;
        margin: 0 auto;
      }
    }
  }

  a.call-to-action {
    @include transition(all,.25s,ease,0);
    background-color: $black-80;
    border: 0;
    border-radius: 4px;
    bottom: 12%;
    box-shadow: 0 0 5px 0 $black;
    color: $black-20;
    cursor: pointer;
    display: block;
    font-weight: bold;
    left: 45%;
    padding: 20px;
    position: absolute;
    text-decoration: none;

    &:hover {
      background-color: $black-50;
      color: $black-90;
    }
  }
}
