.parallax-container {
  position: absolute;
  overflow: hidden;
  display: table;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  // background-image: url(../images/cmi-bg.jpg);
  background-size: contain;
  // background-image: linear-gradient(to top, $black-70, $black-10 50%);
  background-image: radial-gradient(circle farthest-corner,$black-10, $black-70);

  a.call-to-action {
    @include transition(all,.25s,ease,0);
    background-color: $black-80;
    border: 0;
    border-radius: 4px;
    box-shadow: 0 0 5px 0 $black;
    color: $black-20;
    cursor: pointer;
    display: block;
    font-weight: bold;
    left: 45%;
    padding: 20px;
    position: absolute;
    text-decoration: none;
    top: 10%;
    z-index: $z-parallax-login;

    &:hover {
      background-color: $black-50;
      color: $black-90;
    }

    @media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
      left: 30%;
    }
  }

  .login-form-container {
    z-index: $z-parallax-login;
    position: absolute;
    width: 100%;
  }

  .login-form {
    @include flexbox();
    @include flex-flow();
    @include flex-justify(center);
    @include flex-align-items(baseline);
    @include flex-align-content(flex-start);
    // todo: media queries to increase the size on small screens
    width: 25%;
    margin: 0 auto;
  }

  ul {
    list-style: none;
    position: relative;
    display: block;
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    // background-color: $black-20;
    background-size: 100%;
    min-height: 400px;
    height: 100vh;
    z-index: $z-parallax-scene;

    li {
      position: absolute;
      display: block;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;

      div {
        width: auto;

        &.wave {
          background-repeat: repeat-x;
          position: absolute;
          width: 300%;
          left: -100%;
          margin: 0px 0px;
          height: 360px;

          &.depth-20 {
            @include animation(wave,7s,0.1s,infinite,linear);
            bottom: -160px;
            background-size: 600px 180px;
          }

          &.depth-40 {
            @include animation(wave,6s,0.1s,infinite,linear);
            bottom: -180px;
            background-size: 600px 180px;
          }

          &.depth-60 {
            @include animation(wave,4s,0.1s,infinite,linear);
            bottom: -200px;
            background-size: 800px 240px;
          }

          &.depth-80 {
            @include animation(wave,4s,0.1s,infinite,linear);
            bottom: -210px;
            background-size: 1000px 300px;
          }

          &.depth-100 {
            @include animation(wave,3s,0.1s,infinite,linear);
            bottom: -220px;
            background-size: 1200px 360px;
          }
        }

        &.whale {
          @include transform(scaleX(-1) rotate(60deg));
          position: absolute;
          width: 100%;
          background-repeat: no-repeat;
          bottom: 0;
          margin: 0px 0px;
          height: 360px;
          background-image: url(../images/whale.png);
          animation: whale 10s 0s infinite linear;
        }

        &.plain {
          background-image: url(../images/cmi-wave-bg.png);
        }
      }

      .clouds {
        display: block;
        position: absolute;
        left: 0;

        &.bg {
          top: 45%;
        }

        &.single {
          top: 30%;
          left: 80%;
        }
      }

      .phone {
        max-width: 300px;
      }

      .bg {
        display: block;
        left: -10%;
        height: auto;
        position: absolute;
        width: 120%;
      }

      .logo {
        max-width: 400px;
        position: absolute;
        top: 30%;
        left: 35%;
        margin: 0 auto;

        @media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
          left: 15%;
          top: 10%;
          width: 260px;
        }
      }
    }
  }

  .shadow {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    box-shadow: 0px 0px 100px #000 inset;
    z-index: $z-parallax-shadow;
  }
}
