.manage-phone-dashboard {

  ul {
    @include defaults();
    list-style: none;
    margin-top: 2em;

    &.current-phone-list > li {
      box-shadow: 0 0 2px 1px rgba(0,0,0,.5);
      margin: 1em 0;
      padding: 1em;
    }

    li {
      border: 1px dotted $black-20;
      cursor: pointer;
      margin: .5em 0;
      padding: .5em;

      p { margin: 0; }
      .button-story-title { font-size: 1.3em; }

      div.phone-button-object {
        margin-bottom: 1em;

        .button-story {
          margin-bottom: 1em;
        }

        span.button-assignment {
          background: $button-beige;
          border: 1px solid $black;
          border-radius: 50%;
          display: block;
          float: left;
          font-weight: $body-bold;
          height: 4em;
          line-height: 4em;
          margin: 0 1em 0 0;
          text-align: center;
          width: 4em;
        }
      }

      .audio { display: inline; }

      &.cmi-draggable {
        background-color: $white;
        padding: 0;

        &.ui-draggable-dragging {
          box-shadow: 0 0 2px 1px rgba(0,0,0,.5);
        }

        .cmi-draggable-info {
          @include transition(all,.25s,ease,0);
          padding: .5em;

          &:hover {
            background-color: $black-10;
          }

          .story-type {
            display: inline-block;
            padding: 0.5em;
          }
        }
      }

      &.phone-button-assignment {
        @include transition(all,.25s,ease,0s);
        border: 3px dashed $black-20;

        &.cmi-droppable-hover {
          background-color: $black-10;
        }
      }

      &.nonEditable {
        color: $black-30;
        cursor: disabled;

        .phone-button-object {
          span.button-assignment {
            background-color: $black-10;
            border: 0;
          }
        }
      }
    }
  }

  .current-phone-list-container {
    // z-index: $z-parallax-scene;
  }

  .grid_10.available-stories-container {
    background-color: $black-10;
    border: 1px solid $black-20;
    padding: 0 1em;
    position: initial;
    width: 60.5%;

    &.sticky {
      position: fixed;
      top: 0;
    }

    .form-group {
      display: inline-block;
      margin: 0;
      width: 45%;

      &.blocked {
        display: block;
        width: 100%;

        label {
          width: auto;
        }
      }

      label {
        margin: 0;
      }
    }
  }


  // phone-dial layout, not responsive
  /*
  .dial-container {
    display: inline-block;
    float: left;
    margin: 4em 0;
    width: 50%;


    .dial-list {
      @include defaults();
      position: relative;
      width: 24em;
      height: 24em;
      padding: 2.8em;
      border-radius: 50%;
      margin: 1.75em auto 0;

      li {
        @include defaults();
        border: none;
        display: block;
        position: absolute;
        top: 50%;
        left: 50%;
        width: 4em;
        height: 4em;
        margin: -2em;

        text-align: center;
        line-height: 4em;

        &.deg-0 { transform: rotate(-27deg) translate(12em) rotate(27deg); }
        &.deg-1 { transform: rotate(0deg) translate(12em) rotate(0deg); }
        &.deg-2 { transform: rotate(27deg) translate(12em) rotate(-27deg); }
        &.deg-3 { transform: rotate(54deg) translate(12em) rotate(-54deg); }
        &.deg-4 { transform: rotate(81deg) translate(12em) rotate(-81deg); }
        &.deg-5 { transform: rotate(108deg) translate(12em) rotate(-108deg); }
        &.deg-6 { transform: rotate(135deg) translate(12em) rotate(-135deg); }
        &.deg-7 { transform: rotate(162deg) translate(12em) rotate(-162deg); }
        &.deg-8 { transform: rotate(189deg) translate(12em) rotate(-189deg); }
        &.deg-9 { transform: rotate(216deg) translate(12em) rotate(-216deg); }
        &.deg-10 { transform: rotate(243deg) translate(12em) rotate(-243deg); }
        &.deg-11 { transform: rotate(270deg) translate(12em) rotate(-270deg); }
        &.deg-12 { transform: rotate(-54deg) translate(12em) rotate(54deg); }

        span.button-assignment {
          display: block;
          background: $button-beige;
          border-radius: 50%;
          border: 1px solid $black;
          width: 4em;
          height: 4em;
        }

        div.button-story {
          display: none;

          &.active {
            display: block;
            position: absolute;
            top: -30%;
            left: 30%;

            background: rgba(0, 0, 0, 0.8) none repeat scroll 0% 0%;
            border: 2px solid black;
            box-shadow: 0px 0px 5px 1px black;
            color: white;

            line-height: normal;
            padding: 0.5em 1em;
            text-align: left;

            z-index: $z-dial-button;
          }
        }
      }
    }
  }
  */
}


div.button-controls {
  bottom: -1em;
  margin: -1em;
  position: relative;
  text-align: right;

  a {
    @include transition(all,.25s,ease,0s);
    background-color: transparent;
    bottom: 0px;
    color: $black-30;
    display: inline-block;
    font-size: .8em;
    padding: 1em;
    position: relative;
    text-decoration: none;
    text-transform: uppercase;

    &:hover {
      background-color: $black-50;
      color: $white;
      font-weight: $body-bold;

      &:after {
        line-height: 1;
        font-size: 1em;
        font-weight: $body-bold;
        visibility: visible;
        opacity: 1;
        padding: 0 0 0 1em;
      }
    }

    &.clear-button-link {
      background-color: $black-20;

      &:hover:after {
        content: 'X';
      }
    }

    &.droppable-label {
      border: 0;

      &:hover {
        background-color: $black-10;
        color: $black-50;
      }
    }
  }
}





