aside.aside-nav {
  @extend .grid_2;

  nav#side-nav {
    margin-top: 30px;

    ul.side {
      @include defaults;

      li {
        display: block;
        list-style: none;
        text-align: right;
        padding: 5px;

        &.active {

          a {
            color: $black-90;
            font-weight: bold;
          }
        }

        a {
          text-decoration: none;
          color: $black;
        }
      }
    }
  }
}