<section class="main-content">
  <header><h1>Dashboard</h1></header>
  <p>An aggregated view of the performance metrics for the CMI Phone Network.</p>
  <div class='data-container'>
    <h2>Venues</h2>
    <p><strong>Total Venues:</strong> {{dashboardController.venues.length}}</p>
    <p><strong>Active Venues:</strong> {{dashboardController.activeVenues()}}</p>
    <p><strong>Paused Venues:</strong> {{dashboardController.pausedVenues()}}</p>
  </div>
  <div class='data-container'>
    <h2>Phones</h2>
    <p><strong>Total Fabricated Phones:</strong> {{dashboardController.phones.length}}</p>
  </div>
  <div class='data-container'>
    <h2>Stories</h2>
    <p><strong>Total Stories on Network:</strong> {{dashboardController.stories.length}}</p>
    <p><strong>Total Stories in Ishmael’s Library:</strong> {{dashboardController.storyData.number_ishmael_stories}}</p>
    <p><strong>Total Stories in Venue Libraries:</strong> {{dashboardController.storyData.number_venue_stories}}</p>
    <p><strong>Total Listens in Ishmael’s Libraries:</strong> {{dashboardController.storyData.ishmael_listens}}</p>
    <p><strong>Total Listens in Venue Libraries:</strong> {{dashboardController.storyData.venue_listens}}</p>
  </div>
  <div class='data-container'>
    <h2>Postroll Stories</h2>
    <p><strong>Total Postroll Stories on Network:</strong> {{dashboardController.storyData.number_postroll_stories}}</p>
    <p><strong>Total Postroll listens:</strong> {{dashboardController.storyData.postroll_listens}}</p>
  </div>
</section>