<div class="alert" ng-if="alert" ng-class='{ success: status === 200 || status === 201 || status === 202 || status === 204, error: status === 400 || status === 401 || status === 404 || status === 500 }'>
  <p>
    <span class='icon'><i class='fa' ng-class="{ 'fa-check': status === 200, 'fa-times': status === 401 || status === 400 || status === 404 }"></i></span>
    <span class='message'>{{alert}}</span>
  </p>
  <div class='status-bar' ng-class='{ success: status === 200 || status === 201 || status === 202 || status === 204, error: status === 400 || status === 401 || status === 404 || status === 500 }'>
    <span class='dismiss' ng-click='dismissAlert()'><i class='fa fa-times'></i></span>
  </div>
</div>