<div class="dashboard admin-container">
  <aside class="aside-nav">
    <sidenav></sidenav>
  </aside>
  <section class="main-content manage-phone-dashboard">
    <header>
      <h1>Fixed Stories</h1>
    </header>
    <div class='data-container grid_6'>
      <div class='current-star-assignment'>
        <h2>Drag a new story for the star (*) assignment on all phones:</h2>
        <ul class='current-phone-list'>
          <li class='phone-button-assignment droppable' ng-repeat='button in phoneController.starAssignments | limitTo:1' cmi-droppable button='button'>
            <div class='phone-button-object'>
              <span class='button-assignment'>{{button.assignment}}</span>
              <div class="button-story">
                <span class='button-story-title'>{{button.story.title}}</span>
                <div class="audio" id='audio-{{$index}}' ng-if='button.story.url'><cmi-audio-player url="{{button.story.url}}"></cmi-audio-player></div>
                <div class="">
                  <p><span class=''>Library: {{button.story.story_type}}</span></p>
                  <p><span class=''>Placements: {{button.story.placements}}</span></p>
                </div>
              </div>
            </div>
          </li>
        </ul>
      </div>
      <div class='current-hash-assignment'>
        <h2>Drag a new story for the hash (#) assignment on all phones:</h2>
        <ul class='current-phone-list'>
          <li class='phone-button-assignment droppable' ng-repeat='button in phoneController.hashAssignments | limitTo:1' cmi-droppable button='button'>
            <div class="phone-button-object">
              <span class='button-assignment'>{{button.assignment}}</span>
              <div class="button-story">
                <span class='button-story-title'>{{button.story.title}}</span>
                <div class="audio" id='audio-{{$index}}'><cmi-audio-player url="{{button.story.url}}"></cmi-audio-player></div>
              </div>
              <div>
                <p><span class=''>Library: {{button.story.story_type}}</span></p>
                <p><span class=''>Placements: {{button.story.placements}}</span></p>
              </div>
            </div>
          </li>
        </ul>
      </div>
      <div class='current-zero-assignment'>
        <h2>Drag a new story for the zero (0) assignment on all phones:</h2>
        <ul class='current-phone-list'>
          <li class='phone-button-assignment droppable' ng-repeat='button in phoneController.zeroAssignments | limitTo:1' cmi-droppable button='button'>
            <div class="phone-button-object">
              <span class='button-assignment'>{{button.assignment}}</span>
              <div class="button-story">
                <span class='button-story-title'>Title:{{button.story.title}}</span>
                <div class="audio" id='audio-{{$index}}'><cmi-audio-player url="{{button.story.url}}"></cmi-audio-player></div>
                <div>
                  <p><span class=''>Library: {{button.story.story_type}}</span></p>
                  <p><span class=''>Placements: {{button.story.placements}}</span></p>
                </div>
              </div>
            </div>
          </li>
        </ul>
      </div>
      <div class='current-postroll-assignment'>
        <h2>Drag a new story for the postroll (PR) assignment on all phones:</h2>
        <ul class='current-phone-list'>
          <li class='phone-button-assignment droppable' ng-repeat='button in phoneController.postrollAssignments | limitTo:1' cmi-droppable button='button'>
            <div class="phone-button-object">
              <span class='button-assignment'>{{button.assignment}}</span>
              <div class="button-story">
                <span class='button-story-title'>Title:{{button.story.title}}</span>
                <div class="audio" id='audio-{{$index}}'><cmi-audio-player url="{{button.story.url}}"></cmi-audio-player></div>
                <div>
                  <p><span class=''>Library: {{button.story.story_type}}</span></p>
                  <p><span class=''>Placements: {{button.story.placements}}</span></p>
                </div>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
    <!-- add directive 'sticky' to this to make it stick to the top -->
    <div class='grid_10 available-stories-container'>
      <h2>Available Stories:</h2>
      <div class="form-group">
        <label for='search-by-title'>
          <input id='search-by-title' type='text' ng-model='search.title' placeholder='Search by title'>
        </label>
      </div>
      <div class="form-group">
        <label for='search-by-author-last'>
          <input id='search-by-author-last' type='text' ng-model='search.author_last' placeholder='Search by author last name'>
        </label>
      </div>
      <div class="form-group blocked">
        <label for='venue-story-checkbox'>
          <input id='venue-story-checkbox' type="checkbox" ng-model="search.story_type" ng-true-value="'venue'" ng-false-value="''">
          Your Venue Stories
        </label>
        <label for='ishmael-story-checkbox'>
          <input id='ishmael-story-checkbox' type="checkbox" ng-model="search.story_type" ng-true-value="'ishmaels'" ng-false-value="''">
          Ishmaels Stories
        </label>
      </div>
      <!-- paginate max-items='5' on the list -->
      <ul class='row clearfix'>
        <li class='cmi-draggable' ng-repeat="story in phoneController.availableFixedStories | filter:search" cmi-draggable story='story' data-uid="{{story.id}}" >
          <div class='cmi-draggable-info'>
            <p>
              <span><strong>{{story.title}}</strong>, <strong>author:</strong> {{story.author_last}}</span>
              <cmi-audio-player url="{{story.url}}"></cmi-audio-player>
              <span class='story-type'>Type: <strong>{{story.story_type}}</strong></span>
            </p>
            <p>
              <span>Time: {{story.call_length}}</span> |
              <span>Child Friendly: {{story.child_appropriate}}</span> |
              <span>Explicit: {{story.explicit}}</span></p>
          </div>
        </li>
        <ul class='pagination'></ul>
      </ul>
    </div>
  </section>
</div>
