<section class="main-content">
  <header><h1>Add a All of the Things To Ishmael’s Library</h1></header>
  <p>Use this area to add various assets to the CMI Phone network.</p>
  <div class="data-container story-form">
    <h3>Add a New Story to Ishmael’s Library:</h3>
    <form class='story-form' name='storyForm' id='storyForm' ng-submit="formsController.submit({story: formsController.story})" novalidate>
      <div class="form-group">
        <label for='storyTitle'>Title
          <input type='text' id='storyTitle' name='storyUrl' ng-model='formsController.story.title' required>
        </label>
      </div>
      <div class="form-group">
        <label for='storyUrl'>Story Url
          <input type='url' id='storyUrl' name='storyUrl' ng-model='formsController.story.url' required>
        </label>
      </div>
      <div class="form-group">
        <label for='storyAuthorFirst'>Author’s First Name
          <input type='text' id='storyAuthorFirst' name='storyAuthorFirst' ng-model='formsController.story.author_first' required>
        </label>
      </div>
      <div class="form-group">
        <label for='storyAuthorLast'>Author's Last Name
          <input type='text' name='storyAuthorLast' id='storyAuthorLast' ng-model='formsController.story.author_last' required>
        </label>
      </div>
      <div class="form-group">
        <input class='btn' type='submit' value='Add Story' ng-disabled='storyForm.$invalid'>
      </div>
    </form>
  </div>
  <div class="data-container venue-story-form">
    <h3>Add a New Story to a Venue Library</h3>
    <form name='venueStoryForm' id='venueStoryForm' ng-submit="formsController.submit({venueStory: formsController.venueStory})" novalidate>
      <div class="form-group">
        <label>Choose Venue
          <select id='venueForStoryList' class='select venue-story-list' ng-model='formController.venueStory.venueId' ng-options='venue.id as venue.name for venue in formsController.venues'>
            <option value="">-- choose venue --</option>
          </select>
        </label>
      </div>
      <div class="form-group">
        <label for='storyTitle'>Title
          <input type='text' id='storyTitle' name='storyUrl' ng-model='formsController.venueStory.title' required>
        </label>
      </div>
      <div class="form-group">
        <label for='storyUrl'>Story Url
          <input type='url' id='storyUrl' name='storyUrl' ng-model='formsController.venueStory.url' required>
        </label>
      </div>
      <div class="form-group">
        <label for='storyAuthorFirst'>Author’s First Name
          <input type='text' id='storyAuthorFirst' name='storyAuthorFirst' ng-model='formsController.venueStory.author_first' required>
        </label>
      </div>
      <div class="form-group">
        <label for='storyAuthorLast'>Author's Last Name
          <input type='text' name='storyAuthorLast' id='storyAuthorLast' ng-model='formsController.venueStory.author_last' required>
        </label>
      </div>
      <div class="form-group">
        <input class='btn' type='submit' value='Add Story' ng-disabled='venueStoryForm.$invalid'>
      </div>
    </form>
  </div>
  <div class="data-container phone-form">
    <h3>Add a New Phone</h3>
    <form name='phoneForm' id='phoneForm' ng-submit='formsController.submit({phone: formsController.phone})' novalidate>
      <div class="form-group">
        <label for='phoneWifiSSID'>Wifi SSID
          <input type='text' name='phoneWifiSSID' id='phoneWifiSSID' ng-model='formsController.phone.wifiSSID' required>
        </label>
      </div>
      <div class="form-group">
        <label for='phoneWifiPassword'>Wifi Password
          <input type='text' name='phoneWifiPassword' id='phoneWifiPassword' ng-model='formsController.phone.wifiPassword' required>
        </label>
      </div>
      <div class="form-group">
        <label>Phone Status:
          <select id='phoneStatusSelect' class='select phone-status-list' ng-model='formsController.phone.status' required>
            <option value=''>-- choose status --</option>
            <option ng-repeat='status in formsController.phoneStatus' ng-model='formsController.phone.status'>{{status}}</option>
          </select>
        </label>
      </div>
      <div class="form-group">
        <label>Choose Venue
          <select id='venueForPhoneList' class='select venue-phone-list' ng-model='formController.venueStory.venueId' ng-options='venue.id as venue.name for venue in formsController.venues' required>
            <option value="">-- choose venue --</option>
          </select>
        </label>
      </div>
      <div class="form-group">
        <input class='btn' type='submit' value='Add Phone' ng-disabled='phoneForm.$invalid'>
      </div>
    </form>
  </div>
</section>


<!--
<div class="form-group">
  <label for=''>
    <input type='' name='' id='' ng-model=''>
  </label>
</div>
-->