<div class="parallax-container">
  <a ng-if="currentUser" ng-href="#/dashboard" class="btn call-to-action">Dashboard</a>
  <div ng-controller="LoginController as loginController" class="login-form-container" ng-if="!currentUser">
    <form class='login-form' id='loginForm' name='loginForm' ng-hide="loginController.forgotPassword" novalidate>
      <div class="form-group">
        <label for='email-credentials' id='email-label'>Email
          <input id='email-credentials' name='email-credentials' type='email' ng-model='loginController.credentials.email' required>
        </label>
      </div>
      <div class="form-group">
        <label for='password-credentials'>Password
          <input id='password-credentials' name='password-credentials' type='password' ng-model='loginController.credentials.password' required>
        </label>
      </div>
      <div class="form-group">
        <button class='btn block' type='submit' ng-disabled='loginForm.$invalid' ng-click="loginController.login(loginController.credentials)"><span><i class="fa"></i></span>Login</button><span><a ng-click="loginController.showPasswordForm()" ng-hide="loginController.forgotPassword" href="javascript:void(0)" class='forgot-password-link'>Forgot Password?</a></span>
      </div>
    </form>

    <form class="login-form" name="resetPasswordForm" ng-show="loginController.forgotPassword" novalidate>
      <p>Enter your email address and we will send you a link to reset your password</p>
      <div class="form-group">
        <label id="email-label" for="email">Email</label>
        <input id="email" type="text" name="email" ng-model="loginController.credentials.email" required>
      </div>
      <div class="form-group">
        <button type="submit" class="btn block" value="Send Reset Link" ng-disabled="resetPasswordForm.$invalid" ng-click="loginController.sendPasswordLink(loginController.credentials)"><span><i class='fa'></i></span>Send Reset Email</button>
        <span><a ng-click="loginController.showPasswordForm()" href="javascript:void(0)">Cancel</a></span>
      </div>
    </form>
    <img class="logo" src="images/cmi-logo-isolated-large.png">
  </div>
  <ul id="scene" class="scene" data-scalar-y="15" data-scalar-x="25" data-friction-y="0.1" data-friction-x="0.1">
    <li class="layer" data-depth="0.00"></li>
    <li class="layer" data-depth="0.10">
      <!-- <img class="bg" src="images/cmi-bg.jpg"> -->
    </li>
    <li class="layer" data-depth="0.20">
      <img class="clouds bg" src="images/cmi-cloud-bg.png">
    </li>
    <li class="layer" data-depth="0.50">
      <img class="clouds double" src="images/cmi-cloud-double.png">
    </li>
    <li class="layer" data-depth="0.50">
      <img class="clouds single" src="images/cmi-cloud-single.png">
    </li>
    <li class="layer" data-depth="0.20">
      <div class="wave plain depth-20"></div>
    </li>
    <li class="layer title" data-depth="0.30">
    </li>
    <li class="layer" data-depth="0.40">
      <div class="wave plain depth-40"></div>
    </li>
    <li class="layer" data-depth="0.40">
      <!-- <img class="phone" src="images/cmi-phone-parallax.png"> -->
    </li>
    <li class="layer" data-depth="0.50">
      <div class="whale"></div>
    </li>
    <li class="layer" data-depth="0.60">
      <div class="wave plain depth-60"></div>
    </li>
    <li class="layer" data-depth="0.80">
      <div class="wave plain depth-80"></div>
    </li>
    <li class="layer" data-depth="1.00">
      <div class="wave plain depth-100"></div>
    </li>
  </ul>
  <div class="shadow"></div>
</div>
