<div class="parallax-container">
  <ul id="scene" class="scene" data-scalar-y="15" data-scalar-x="25" data-friction-y="0.1" data-friction-x="0.1">
    <li class="layer" data-depth="0.00"></li>
    <li class="layer" data-depth="0.20">
      <div class="wave plain depth-20"></div>
    </li>
    <li class="layer" data-depth="0.40">
      <div class="wave plain depth-40"></div>
    </li>
    <li class="layer" data-depth="0.60">
      <div class="wave plain depth-60"></div>
    </li>
    <li class="layer" data-depth="0.80">
      <div class="wave plain depth-80"></div>
    </li>
    <li class="layer" data-depth="1.00">
      <div class="wave plain depth-100"></div>
    </li>
  </ul>
</div>
