<section class="login-main">
  <div class="left-column">
    <img src="images/cmi-phone.png"/>
  </div>
  <div class="right-column">
    <h1>Login to curate your CMI Phone.</h1>
    <p>Don’t have a CMI Phone Account? <a href="javascript:void(0)">Contact Ishmael.</a></p>
    <form class="login-form" name="loginForm" ng-submit="loginController.login(loginController.credentials)" novalidate>
      <div class="form-group">
        <label id="email-label" for="email">Email</label>
        <input id="email" type="email" name="email" ng-model="loginController.credentials.email" required>
      </div>
      <div class="form-group">
        <label id="password-label" for="password">Password</label>
        <input id="password" type="password" name="password" ng-model="loginController.credentials.password" required>
      </div>
      <div class="form-group">
        <input class="btn btn-default" type="submit" ng-disabled="loginForm.$invalid" value="Login"> <span><a ng-click="loginController.showPasswordForm()" ng-hide="loginController.forgotPassword" href="javascript:void(0)">Did you forget your password?</a></span>
      </div>
    </form>
    <form class="login-form" name="resetPasswordForm" ng-submit="loginController.sendPasswordLink(loginController.credentials)" ng-show="loginController.forgotPassword" novalidate>
      <h2>Enter your email address and we will send you a link to reset your password</h2>
      <div class="form-group">
        <label id="email-label" for="email">Email</label>
        <input id="email" type="text" name="email" ng-model="loginController.credentials.email" required>
      </div>
      <div class="form-group">
        <input type="submit" class="btn" value="Send Reset Link" ng-disabled="resetPasswordForm.$invalid"/>
      </div>
    </form>
  </div>
</section>