<div class='phone'>
  <aside class='aside-nav'>
    <sidenav></sidenav>
  </aside>
  <section class='main-content container'>
    <div class='data-container manage-phone-dashboard'>
      <div class='current-phone-list-container grid_8'>
        <h1>Stories on your phone right now:</h1>
        <ul class='current-phone-list'>
          <li ng-repeat='obj in phoneController.currentPhone.buttons track by $index' class='phone-button-assignment deg-{{$index}}'>
            <div class='phone-button-object' ng-repeat='(key, value) in obj' cmi-dial-listitem button='value'>
              <span class='button-assignment'>{{key}}</span>
              <div class='button-story'>
                <span class='button-story-title'>{{value.title || 'Nothing Assigned'}}</span>
                <div class='audio' id='audio-{{$parent.$index}}' ng-if='value.url'>
                  <cmi-audio-player url="{{value.url}}"></cmi-audio-player>
                </div>
              </div>
              <div class='button-controls' ng-hide="key === '*' || key === '#' || key === '0' || key === 'PR'">
                <a href='javascript:void(0)' ng-click='phoneController.clearButton(this,$parent.$index,key,value)' class='clear-button-link'>Clear</a>
              </div>
            </div>
          </li>
        </ul>
      </div>
      <div class='grid_8'>
        <div ng-repeat='venue in phoneController.venues'>
          <h2>Stories unique to venue {{venue.name}}</h2>
          <ul>
            <li ng-repeat='story in venue.stories'>
              <div>
                <p>
                  <span><strong>{{story.title}}</strong>, <strong>author:</strong> {{story.author_last}}</span>
                  <cmi-audio-player url="{{story.url}}"></cmi-audio-player>
                </p>
              </div>
          </ul>
        </div>
        <div>
          <h2>Ishmael’s Stories</h2>
          <ul>
            <li ng-repeat='story in phoneController.ishmaelStories'>
              <div>
                <p>
                  <span><strong>{{story.title}}</strong>, <strong>author:</strong> {{story.author_last}}</span>
                  <cmi-audio-player url="{{story.url}}"></cmi-audio-player>
                </p>
              </div>
          </ul>
        </div>
      </div>
    </div>
  </section>
</div>
