<div class='phone'>
  <aside class='aside-nav'>
    <sidenav></sidenav>
  </aside>
  <section class='main-content container'>
    <div class='data-container manage-phone-dashboard'>
      <div class='current-phone-list-container grid_8'>
        <h1>Stories on your phone right now:</h1>
        <ul class='current-phone-list'>
          <li ng-repeat='obj in phoneController.currentPhone.buttons track by $index' class='deg-{{$index}}'>
            <div ng-repeat='(key, value) in obj' cmi-dial-listitem button='value'>
              <span class='button-assignment'><strong>Button: </strong>{{key}}</span>&nbsp;<span class='button-story-title'>{{value.title || 'Nothing Assigned'}}</span>
              <div class='button-story'>
                <div class='audio' id='audio-{{$parent.$index}}' ng-if='value.url'>
                  <!-- <button class='play' ng-click='playAudio()'>
                    <svg version='1.1' id='Layer_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px'
                       viewBox='0 0 42 42' enable-background='new 0 0 42 42' xml:space='preserve'>
                    <path id='PLAY_2_' fill-rule='evenodd' clip-rule='evenodd' d='M39.4,21c0,1.4-0.8,2.7-1.9,3.4l0,0l-28.8,17c0,0,0,0,0,0l0,0l0,0
                      C8,41.8,7.3,42,6.6,42c-2.2,0-3.9-1.8-3.9-3.9l0,0V3.9l0,0C2.6,1.8,4.4,0,6.6,0c0.7,0,1.4,0.2,2,0.5l0,0l0,0c0,0,0,0,0,0l28.8,17
                      l0,0C38.6,18.3,39.4,19.6,39.4,21z'></path>
                    </svg>
                  </button> -->
                  <audio ng-src='{{value.url}}' controls>
                    <p>Your browser does not support the <code>audio</code> element </p>
                  </audio>
                </div>
              </div>
              <div id='button-controls' ng-hide="key === '*' || key === '#' || key === '0' || key === 'PR'">
                <ul>
                  <li><a href='javascript:void(0)' ng-click='phoneController.clearButton(this,$parent.$index,key,value)'>Clear <span class='x-button'>&times;</span></a></li>
                </ul>
              </div>
            </div>
          </li>
        </ul>
      </div>
      <div class='grid_8'>
        <div ng-repeat='venue in phoneController.venues'>
          <h2>Stories unique to venue {{venue.name}}</h2>
          <ul>
            <li ng-repeat='story in venue.stories'>
              <div>
                <strong>{{story.title}}</strong>, <strong>author:</strong> {{story.author_last}}
              </div>
              <audio ng-src='{{story.url}}' controls>
                <p>Your browser does not support the <code>audio</code> element </p>
              </audio>
          </ul>
        </div>
        <div>
          <h2>Ishmael’s Stories</h2>
          <ul>
            <li ng-repeat='story in phoneController.ishmaelStories'>
              <div>
                <strong>{{story.title}}</strong>, <strong>author:</strong> {{story.author_last}}
              </div>
              <audio ng-src='{{story.url}}' controls>
                <p>Your browser does not support the <code>audio</code> element </p>
              </audio>
          </ul>
        </div>
      </div>
    </div>
  </section>
</div>
