<section class="main-content">
  <div class="data-container" ng-repeat="phone in venueController.venuePhones track by $index">
    <div class="phone-view container clearfix">
      <h2>Ahoy! This is your phone at {{venueController.venue.name}}</h2>
      <div class="grid_4">
        <img class="cmi-phone" src="images/cmi-phone.png">
      </div>
      <div class="grid_12">
        <ul>
          <li><strong>Phone ID:</strong> {{phone.unique_identifier}}</li>
          <li><strong>Phone Status:</strong> {{phone.status}}</li>
          <li><strong>Date Created:</strong> {{phone.created_at}}</li>
        </ul>
      </div>
    </div>
    <div class="phone-story-view container clearfix">
      <h3>Your Phone is currently hosting these stories:</h3>
      <div class="grid_16">
        <h1>Stories on your phone right now:</h1>
        <table>
          <thead>
            <th>Id</th>
            <th>Assignment</th>
            <th>Title</th>
            <th>Listen</th>
            <th>Added to phone</th>
            <th># Listens</th>
          </thead>
          <tbody ng-repeat="obj in phone.buttons track by $index">
            <tr ng-repeat="(key,value) in obj">
              <td>{{value.story_id}}</td>
              <td>{{key}}</td>
              <td>{{value.title}}</td>
              <td><cmi-audio-player url="{{value.url}}"></cmi-audio-player></td>
              <td>{{value.created_at}}</td>
              <td>{{value.listens}}</td>

            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="container">
    <h2>Would you like to change the stories on your phone?</h2>
    <p>You may assign any story from Ishmael’s Library or your Venue Library to numbers 1-9 on your phone. <a href='#/manage-phone'>Click here to edit your phone.</a></p>
    <h3>IMPORTANT: Your changes won’t be immediately reflected to your phone.</h3>
    <p>You may make and save changes at any time. However, your saved changes will not “go live” until 10:00am each day. For clarity, if you were to make and save changes at 9:55am, then they would be published to your phone at 10:00am. However, if you were to make and save changes at 10:01am, then your changes would not be published to your phone until 10:00am the next day.</p>
  </div>
</section>

