<nav id="side-nav">
  <ul class="side admin-links" ng-if="currentUser.role === 'admin'">
    <li ng-class="{ active: sidenavController.isActive('/dashboard') }"><a href="#/dashboard">Dashboard Home/Network Stats</a></li>
    <li ng-class="{ active: sidenavController.isActive('/venue-stats') }"><a href="#/venue-stats">Venue Stats</a></li>
    <li ng-class="{ active: sidenavController.isActive('/phone-stats') }"><a href="#/phone-stats">Phone Stats</a></li>
    <li ng-class="{ active: sidenavController.isActive('/story-stats') }"><a href="#/story-stats">Story Stats</a></li>
    <li ng-class="{ active: sidenavController.isActive('/post-roll-stats') }"><a href="#/post-roll-stats">Post Roll Stats</a></li>
    <li ng-class="{ active: sidenavController.isActive('/fixed') }"><a href="#/fixed">Fixed Stories</a></li>
    <li ng-class="{ active: sidenavController.isActive('/add-new') }"><a href="#/add-new">+ Add New</a></li>
  </ul>
  <hr ng-if="currentUser.role === 'admin'"/>
  <ul class="side venue-links">
    <li>Venue View (viewable by venue admins and admins)</li>
  </ul>
</nav>