<nav id="side-nav">
  <ul class="side admin-links" ng-if="currentUser.role === 'admin'">
    <li ng-class="{ active: sidenavController.isActive('/dashboard') }"><a href="#/dashboard">Network Stats</a></li>
    <li ng-class="{ active: sidenavController.isActive('/venue-stats') }"><a href="#/venue-stats">Venue Stats</a></li>
    <li ng-class="{ active: sidenavController.isActive('/phone-stats') }"><a href="#/phone-stats">Phone Stats</a></li>
    <li ng-class="{ active: sidenavController.isActive('/story-stats') }"><a href="#/story-stats">Story Stats</a></li>
    <li ng-class="{ active: sidenavController.isActive('/user-stats')}"><a href="#/user-stats">User Management</a></li>
    <li ng-class="{ active: sidenavController.isActive('/your-account')}"><a href='#/your-account'>Your Account</a></li>
  </ul>
  <ul class="side venue-links" ng-if="currentUser.role === 'venue_admin'">
    <li ng-class="{ active: sidenavController.isActive('/phones')}"><a href="#/phones">Your Phone</a></li>
    <li ng-class="{ active: sidenavController.isActive('/manage-phone')}"><a href="#/manage-phone">Manage Your Phone</a></li>
    <li ng-class="{ active: sidenavController.isActive('/your-account')}"><a href='#/your-account'>Your Account</a></li>
  </ul>
</nav>