<section class="main-content">
  <header>
    <h1>Story Stats</h1>
    <p>Use the table below to explore the stats of every story that CMI Curators have access to.</p>
  </header>
  <div class="data-container grid_8">
    <h2>All of the stories:</h2>
    <div id='story-list-filter' sticky>
      <div class="form-group">
        <label>Search by title</label>
        <input type='text' ng-model="search.title" placeholder="Search by story title">
      </div>
      <div class="form-group checkbox-group">
        <label>
          <input type="checkbox" ng-model="search.story_type" ng-true-value="'ishmaels'" ng-false-value="''">Ishmael’s Stories
        </label>
        <label>
          <input type="checkbox" ng-model="search.story_type" ng-true-value="'venue'" ng-false-value="''">
          Venue Stories
        </label>
        <label>
          <input type="checkbox" ng-model="search.story_type" ng-true-value="'postroll'" ng-false-value="''">
          Post Roll Stories
        </label>
        <label>
          <input type="checkbox" ng-model="search.story_type" ng-true-value="'fixed'" ng-false-value="''">
          Fixed Stories
        </label>
      </div>
    </div>
    <ul class='story-list'>
      <li ng-repeat="story in dashboardController.stories | filter:search | orderBy: '-id':reverse=true" class='story' data-uuid='{{story.id}}'>
        <h2 class='story-title'>{{story.title}} <span class='story-detail'>by: {{story.author_first}} {{story.author_last}}</span></h2>
        <p>
          <span class='story-detail' ng-if='story.call_length'>Audio length: <strong>{{story.call_length}}</strong></span>
          <span class='story-detail' ng-if='story.common_title'>Audio title: <strong>{{story.common_title}}</strong></span>
          <span class='story-detail' ng-if='story.call_date'>Audio call date: <strong>{{story.call_date | date:short}}</strong></span>
          <span class='story-detail' ng-if='story.placements'>This story is on {{story.placements || 0}} Ishmael phone{{story.placements === 1 ? '' : 's'}}.</span>
          <span class='story-detail' ng-if='story.listens'>This story has been listened to <strong>{{story.listens || 0}}</strong> time{{story.listens === 1 ? '' : 's'}}</span>
          <span class="story-detail" ng-if='story.story_type'>Type of story: <strong>{{story.story_type}}</strong></span>
          <span class='story-detail'>Listen to the audio: <cmi-audio-player url="{{story.url}}"></cmi-audio-player></span>
          <span class='story-detail'>{{story.spoiler_alert ? 'This story is a spoiler alert!' : 'Don’t worry, this won’t ruin the surprise!'}}</span>
          <span class='story-detail'>This story is {{story.child_appropriate ? '' : 'not '}}child appropriate.</span>
          <span class='story-detail'>Explicit Content: {{story.explicit}}</span>
          <span class='story-detail' ng-if='story.gender'>Gender of the caller: {{story.gender}}</span>
          <span class='story-detail' ng-if='story.rating'>Rating: {{story.rating}} out of 5</span>
        </p>
        <div class='story-crud-actions' ng-controller='FormsController as formsController'>
          <a href='javascript:void(0)' class='btn inline edit' ng-click='editStory(story)'>Edit</a>
          <a href="javascript:void(0)" confirmed-click-action="formsController.deleteObject({story: story})" ng-confirm-click='Are you sure you want to delete this story: {{story.title}}' class='btn inline delete'>Delete</a>
        </div>
      </li>
    </ul>
  </div>
  <div class="data-container story-form grid_8" ng-controller='FormsController as formsController' sticky>
    <h2 ng-hide='formsController.isEditing'>Add a Story to Ishmael’s Library:</h2>
    <h2 ng-show='formsController.isEditing'>You're currently editing {{formsController.story.title}}</h2>
    <form class='story-form' name='storyForm' id='storyForm' ng-submit="formsController.submit({story: formsController.story})" enctype="multipart/form-data" novalidate>
      <input type='hidden' id='storyId' value='{{formsController.story.id}}' ng-model='formsController.story.id'>
      <div class="form-group">
        <label for='storyTitle'>Book Title
          <input type='text' id='storyTitle' name='storyUrl' ng-model='formsController.story.title' required>
        </label>
      </div>
      <div class="form-group inline">
        <label for='storyAuthorFirst'>Book Author’s First Name
          <input type='text' id='storyAuthorFirst' name='storyAuthorFirst' ng-model='formsController.story.author_first' required>
        </label>
      </div>
      <div class="form-group inline">
        <label for='storyAuthorLast'>Author's Last Name
          <input type='text' name='storyAuthorLast' id='storyAuthorLast' ng-model='formsController.story.author_last' required>
        </label>
      </div>
      <div class="form-group inline">
        <label for='storyCallDate'>Call Date</label>
        <datepicker date-format='fullDate'>
          <input ng-model="formsController.story.call_date" type="text" id='storyCallDate' name='storyCallDate'/>
        </datepicker>
      </div>
      <div class="form-group inline">
        <label for='storyCallLength'>Audio Length (in time)
          <input type='text' id='storyCallLength' name='storyCallLength' ng-model='formsController.story.call_length'>
        </label>
      </div>
      <div class="form-group">
        <label for='storyCommonTitle'>Call Title
          <input type='text' id='storyCommonTitle' name='storyCommonTitle' ng-model='formsController.story.common_title'>
        </label>
      </div>
      <div class='clearfix'>
        <div class='form-group inline radio-group'>
          <label>Spoiler Alert?</label>
          <label for='spoilerTrue'><input type='radio' name='spoilerTrue' id='spoilerTrue' value='true' ng-model='formsController.story.spoiler_alert' required> True</label>
          <label for='spoilerFalse'><input type='radio' name='spoilerFalse' id='spoilerFalse' value='false' ng-model='formsController.story.spoiler_alert' required> False</label>
        </div>
        <div class='form-group inline radio-group'>
          <label>Child Appropriate?</label>
          <label for='storyChildAppropriateTrue'><input type='radio' name='storyChildAppropriateTrue' id='storyChildAppropriateTrue' value='true' ng-model='formsController.story.child_appropriate' required> True</label>
          <label for='storyChildAppropriateFalse'><input type='radio' name='storyChildAppropriateFalse' id='storyChildAppropriateFalse' value='false' ng-model='formsController.story.child_appropriate' required> False</label>
        </div>
        <div class='form-group inline radio-group'>
          <label>Explicit Content?</label>
          <label for='storyExplicitTrue'><input type='radio' name='storyExplicitTrue' id='storyExplicitTrue' value='true' ng-model='formsController.story.explicit' required> True</label>
          <label for='storyExplicitFalse'><input type='radio' name='storyExplicitFalse' id='storyExplicitFalse' value='false' ng-model='formsController.story.explicit' required> False</label>
        </div>
      </div>
      <div class='form-group inline'>
        <label>Gender of caller:
          <select id='storyCallerGender' class='select story-caller-gender' ng-model='formsController.story.gender' required>
            <option value=''>-- choose gender --</option>
            <option value='Male'>Male</option>
            <option value='Female'>Female</option>
          </select>
        </label>
      </div>
      <div class="form-group inline">
        <label>Rating:
        <select id='storyRating' ng-model='formsController.story.rating' required>
          <option value=''>-- choose rating --</option>
          <option value='1'>1</option>
          <option value='2'>2</option>
          <option value='3'>3</option>
          <option value='4'>4</option>
          <option value='5'>5</option>
        </select>
        </label>
      </div>
      <div class="form-group inline">
        <label>Story Library
          <select id='storyStatusSelect' class='select story-status-list' ng-model='formsController.story.story_type' required>
            <option value=''>-- choose status --</option>
            <option ng-repeat='status in formsController.storyTypes' value="{{formsController.normalizeStoryTitle(status)}}">{{status}}</option>
          </select>
        </label>
      </div>
      <div class='form-group inline' id='storyVenueField' ng-hide='formsController.story.story_type !== "venue"'>
        <label>Attach song to a venue:
          <select id='storyVenueSelect' class='select' ng-model='formsController.story.venue_id'>
            <option value=''>-- choose venue --</option>
            <option ng-repeat='venue in formsController.venues' value='{{venue.id}}'>{{venue.name}}</option>
          </select>
        </label>
      </div>
      <div class="form-group" id='audioFileUpload'>
        <label>Audio file:</label>
        <input name='file' type='file' required>
      </div>
      <div class="form-group">
        <input class='btn' type='submit' value="{{formsController.isEditing ? 'Submit Changes' : 'Add Story'}}" ng-disabled='storyForm.$invalid'>
        <a class='btn' href='javascript:void(0)' ng-click='formsController.clearForm()'>Reset form</a>
      </div>
      <div class="form-group">
        <p>Nothing gets saved until you click the 'Add/Submit' button. Click the 'Reset Form' button to clear the form with no saved changes.</p>
      </div>
    </form>
  </div>
</section>
