<section class="main-content">
  <header>
    <h1>Story Stats</h1>
    <p>Use the table below to explore the stats of every story that CMI Curators have access to.</p>
  </header>
  <div class="data-container story-form grid_8" ng-controller='FormsController as formsController'>
    <h3>Add a New Story to Ishmael’s Library:</h3>
    <form class='story-form' name='storyForm' id='storyForm' ng-submit="formsController.submit({story: formsController.story})" enctype="multipart/form-data" novalidate>
      <div class="form-group">
        <label for='storyTitle'>Title
          <input type='text' id='storyTitle' name='storyUrl' ng-model='formsController.story.title' required>
        </label>
      </div>
      <!-- <div class="form-group">
        <label for='storyUrl'>Story Url
          <input type='url' id='storyUrl' name='storyUrl' ng-model='formsController.story.url' required>
        </label>
      </div> -->
      <div class="form-group">
        <label for='storyAuthorFirst'>Author’s First Name
          <input type='text' id='storyAuthorFirst' name='storyAuthorFirst' ng-model='formsController.story.author_first' required>
        </label>
      </div>
      <div class="form-group">
        <label for='storyAuthorLast'>Author's Last Name
          <input type='text' name='storyAuthorLast' id='storyAuthorLast' ng-model='formsController.story.author_last' required>
        </label>
      </div>
      <div class="form-group" id='audio-file-upload'>
        <input type="hidden" name="key" value="key">
        <input type="hidden" name="AWSAccessKeyId" value="access_key">
        <input type="hidden" name="acl" value="public-read">
        <input type="hidden" name="policy" value="policy">
        <input type="hidden" name="signature" value="signature">
        <input type="hidden" name="Content-Type" value="audio/ogg">
        <label>Audio file:</label>
        <input name='file' type='file'>
      </div>
      <div class="form-group">
        <label>Story Status
          <select id='storyStatusSelect' class='select story-status-list' ng-model='formsController.story.story_type' required>
            <option value=''>-- choose status --</option>
            <option ng-repeat='status in formsController.storyTypes'>{{status}}</option>
          </select>
        </label>
      </div>
      <div class='form-group' id='venueStoryField'>
        <label>Attach song to a venue:
          <select id='storyVenueSelect' class='select' ng-model='formsController.story_venue'>
          <option value=''>-- choose venue --</option>
          <option ng-repeat='venue in formsController.venues'>{{venue.name}}</option>
          </select>
        </label>
      </div>
      <div class="form-group">
        <input class='btn' type='submit' value='Add Story' ng-disabled='storyForm.$invalid'>
      </div>
    </form>
  </div>
  <div class="data-container grid_16">
    <div class="form-group">
      <label>Search by title</label>
      <input type='text' ng-model="search.title" placeholder="Search by story title">
    </div>
    <div class="form-group checkbox-group">
      <label>
        <input type="checkbox" ng-model="search.story_type" ng-true-value="'ishmaels'" ng-false-value="''">Ishmael’s Stories
      </label>
      <label>
        <input type="checkbox" ng-model="search.story_type" ng-true-value="'venue'" ng-false-value="''">
        Venue Stories
      </label>
      <label>
        <input type="checkbox" ng-model="search.story_type" ng-true-value="'surprise'" ng-false-value="''">
        Surprise Stories
      </label>
      <label>
        <input type="checkbox" ng-model="search.story_type" ng-true-value="'fixed'" ng-false-value="''">
        Fixed Stories
      </label>
    </div>
    <table>
      <thead>
        <th>Id</th>
        <th>Type</th>
        <th>Title</th>
        <th>Author’s Last Name</th>
        <th># Placements</th>
        <th># Listens</th>
        <th>Avg. % Listened</th>
        <th></th>
      </thead>
      <tbody>
        <tr ng-repeat="story in dashboardController.stories | filter:search | orderBy: '-id':reverse=true" >
          <td>{{story.id}}</td>
          <td>{{story.story_type}}</td>
          <td>{{story.title}}</td>
          <td>{{story.author_last}}</td>
          <td>{{story.placements || 0}}</td>
          <td>{{story.listens || 0}}</td>
          <td></td>
          <td><a href="javascript:void(0)" confirmed-click-action="dashboardController.deleteObject({story: story})" ng-confirm-click='Are you sure you want to delete this story: {{story.title}}'>Delete</a></td>
        </tr>
      </tbody>
    </table>
  </div>
</section>