<div class="dashboard">
  <aside class="aside-nav">
    <sidenav></sidenav>
  </aside>
  <section class='main-content container'>
    <div class='grid_8'>
      <h3>Create a new user:</h3>
      <form ng-controller='FormsController as formsController' class='new-user-form' id='newUserForm' name='newUserForm' ng-submit="formsController.submit({user: formsController.newUser})" novalidate>
        <div class="form-group">
          <label for='userFirstname'>First Name:
            <input id='userFirstname' type='text' ng-model='formsController.newUser.firstname'placeholder='firstname' required>
          </label>
        </div>
        <div class="form-group">
          <label for='userLastname'>Last Name:
            <input id='userLastname' type='text' ng-model='formsController.newUser.lastname'placeholder='lastname' required>
          </label>
        </div>
        <div class="form-group">
          <label for='userUsername'>Username:
            <input id='userUsername' type='text' ng-model='formsController.newUser.username'placeholder='username' required>
          </label>
        </div>
        <div class="form-group">
          <label for='userEmail'>Email:
            <input id='userEmail' type='email' ng-model='formsController.newUser.email'placeholder='email' required>
          </label>
        </div>
        <div class="form-group">
          <label for='userPhone'>Phone number:
            <input id='userPhone' type='tel' ng-model='formsController.newUser.phonenumber'placeholder='phonenumber' required>
          </label>
        </div>
        <div class="form-group">
          <label for='userRole'>Role:
            <select id='userRole' class='select' ng-model='formsController.newUser.role'>
              <option value=''>-- choose a role --</option>
              <option value='admin'>Admin</option>
              <option value='venue_admin'>Venue Admin</option>
            </select>
          </label>
        </div>
        <div class="form-group" ng-if='formsController.newUser.role === "venue_admin"'>
          <label for='userVenue'>Venue:
            <select id='userVenue' class='select' ng-model='formsController.newUser.venueId'>
              <option value=''>-- choose venue --</option>
              <option ng-repeat='venue in formsController.venues' value='{{venue.id}}'>{{venue.name}}</option>
            </select>
          </label>
        </div>
        <div class="form-group">
          <input class='btn' type='submit' ng-disabled='newUserForm.$invalid' value='Create new user'>
        </div>

      </form>
    </div>
    <div class='grid_8 data-container clearfix'>
      <ul>
        <li ng-repeat='user in userController.users'>
          <div class='user'>
            <h3>{{user.firstname}} {{user.lastname}}</h3>
            <p class='user-details'>
              <span class='block'>Role: {{user.role}}</span>
              <span class='block'>Email: {{user.email}}</span>
              <span class='block'>Username: {{user.username}}</span>
              <span class='block'>Active: {{user.active}}</span>
              <span class='block'>Main Biz Contact: {{user.main_business_contact}}</span>
              <span class='block'>Account Created on: {{user.created_at}}</span>
              <span class='block'>Belongs to these venues:</span>
              <ul>
                <li ng-repeat="venue in user.venues">
                  {{venue.name}}
                </li>
              </ul>
            </p>
          </div>
        </li>
      </ul>
    </div>
  </section>
</div>