<section class="main-content">

  <!-- list of all the venues a user belongs to -->
  <div class="data-container">
    <h2>Venues that you belong to:</h2>
    <ul>
      <li ng-repeat='venue in venueController.userVenues'><a ng-href="#/venues/{{venue.id}}">{{venue.name}}</a>
      </li>
    </ul>
  </div>

  <!-- container for single venue view -->
  <div class="data-container" ng-if="venueController.venue.id">
    <h2>{{venueController.venue.name}} Venue Stats:</h2>
    <ul>
      <li ng-repeat="(key,value) in venueController.venue" ng-if="key != 'users'"><strong>{{key}}:</strong> {{value}}</li>
    </ul>
    <h3>Venue users:</h3>
    <ul ng-repeat="user in venueController.venue.users">
      <li><strong>{{user.firstname}} {{user.lastname}}</strong> | <strong>role:</strong> {{user.role}}</li>
    </ul>
  </div>
  <!-- container for single venue phones -->
  <div class="data-container" ng-repeat="phone in venueController.venuePhones track by $index">
    <div class="phone-view">
      <h2>Phone {{$index + 1}} at {{venueController.venue.name}}</h2>
      <table>
        <thead>
          <th>Phone ID</th>
          <th>Phone Status</th>
          <th>Name</th>
          <th># Stories</th>
          <th>Date Created</th>
          <th># Days Active</th>
        </thead>
        <tbody>
          <tr>
            <td>{{phone.unique_identifier}}</td>
            <td>{{phone.status}}</td>
            <td>{{phone.venue.name}}</td>
            <td>{{phone.stories.length}}</td>
            <td>{{phone.created_at}}</td>
            <td></td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="phone-story-view">
      <h3>Your Phone is currently hosting these stories:</h3>
      <table>
        <thead>
          <th>Id</th>
          <th>Assignment</th>
          <th>Title</th>
          <th>Added to phone</th>
          <th># Listens</th>
          <th></th>
        </thead>
        <tbody>
          <tr ng-repeat="(key,value) in phone.buttons | orderBy: '-id':reverse=true" >
            <td>{{value.story_id}}</td>
            <td>{{key}}</td>
            <td><a ng-href="{{value.url}}" target="_blank">{{value.title}}</a></td>
            <td>{{value.created_at}}</td>
            <td>{{story.listens || 0}}</td>
            <td><a ng-hide="key === '*' || key === '#' || key === '0' || key === 'PR'" href="javascript:void(0)" ng-click="venueController.editButton(key,value,phone.id)">Edit</a></td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="phone-button-assignment" ng-show="venueController.buttonToEdit">
      <h3>Assign a new story to this phone:</h3>
      <p>The current story at the button assignment you choose will be replaced by this story. This action is not undoable.</p>
      <p>Total # of stories: {{venueController.stories.length}}</p>
      <form name="newButtonAssign" id='newButtonAssign' ng-submit="venueController.submit({button: venueController.buttonToEdit})" novalidate>
        <div class="form-group">
          <label>Search stories by title or author last name
          <input name="storyTitleSearch" id="storyTitleSearch" type="text" ng-model="search" value="search"/>
          </label>
        </div>
        <div class="form-group" ng-repeat="story in venueController.stories | storyFilter:search:venueController.stories | limitTo:12">
          <label>
            <input type='checkbox' ng-true-value="{{story.id}}" ng-false-value="''" ng-model="venueController.buttonToEdit.story_id">
            {{story.title}} by {{story.author_last}}
          </label>
        </div>
        <p ng-show="(venueController.stories | storyFilter:search:venueController.stories).length == 0">No story selected.</p>
        <p>You're changing button {{ venueController.buttonToEdit.assignment }} on the phone.</p>
        <div class="form-group">
          <input class="btn" type="submit" value="Assign button to phone" ng-disabled="newButtonAssign.$invalid">
        </div>
      </form>
    </div>
  </div>
</section>

